@import './../../styles-variables.scss';

.link-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .top-link-style{
      background-color: #e48900;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 40%;
      margin: 20px auto;
      text-align: center;
      color: white;
      border-radius: 5px;
      font-size: large;
      text-decoration: none;
      transition: ease-in-out 150ms;
  
      .link-text {
        display: block;
        margin: auto;
      }
  
      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }

  @media (max-width: 800px) {
    .smaller-font-size-links {
      font-size: 14px !important;
    }
  }